<div class="row">
 
        <div class="col-10">
            @if (ViewBag.createFail)
            {
                <div class="row">@ViewBag.Creatfail</div>
            }
            <div class="row">
                <div class="col">Name:</div><input class="text" id="Name" name="Name" />
            </div>
            <div class="col">Phone:</div><input class="text" id="Phone" name="Phone" />
            <div class="col">City:</div><input class="text" id="City" name="City" />
        </div>
    </div>
    <div class="col">
        <button class="btn btn-succes" onclick="LinkCreate('@Url.Action("Create","People")')">Create People</button>

    </div>




