<!doctype html>
<head>
    <meta charset="utf-8">
    <title>People List</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />

</head>
<html>
<body>

    @RenderBody()

    <center> <p>&copy; 2019 Mattias Gustavsson.</p></center>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <script src="~/JS/Edit.js"></script>

</body>
</html>
