<!doctype html>
<head>
    <meta charset="utf-8">
    <title>People List</title>
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
</head>
<html>
<body>

    @RenderBody()
    <center> <p>&copy; 2019. Mattias Gustavsson.</p></center>
</body>
</html>
