@model List<Person>
@{
    ViewData["Title"] = "Index";
}

<h2>People</h2>
<form asp-controller="People" asp-action="Create" method="post">
    Create<br />
    <input type="text" name="Name" placeholder="Write your name" />
    <input type="text" name="Phone" placeholder="Write phonenumber" />
    <input type="text" name="City" placeholder="Write City" />
    <button>Skicka</button>
    
</form>


<div class="col-10">
 


    @foreach (var item in Model)
    {
       
       <partial name="_Person" model="item" />
    }
</div>
