@Model Person

<div id="@("Person"+Model.id)" class="col-12">
    <dl class="dl-horizontal">
        <dt> Name</dt>
        <dd>@Model.Name</dd>
        <dd>@Model.Phone</dd>
        <dd>@Model.City</dd>
        <dd>
           <button class="btn btn-info">    Go back</button>
        </dd>
</dl>


</div>


